
<div class="container">
    <h2>Ajouter un nouveau Pokémon</h2>
    <form (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input type="text" id="name" class="form-control" required [(ngModel)]="Pokemon.name" name="name">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Catégorie</label>
        <input type="text" id="category" class="form-control" required [(ngModel)]="Pokemon.category" name="category">
      </div>
      <!-- Ajoutez d'autres champs nécessaires ici -->
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  